body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e6f0ff;
    color: #1a1a1a;
    text-align: center;
  }
  
  /*.landing-page {*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  align-items: center;*/
  /*  justify-content: space-between;*/
  /*  min-height: 100vh;*/
  /*}*/
  
  .header {
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #2854ff;
    text-align: start;
   
  }
  
  /*.main-content {*/
  /*  flex-grow: 1;*/
  /*  */
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  align-items: center;*/
  /*  justify-content: center;*/
  /*}*/
  
  .main-content h1 {
    font-size: 4em;
    color: #2854ff;
    margin-bottom: 10px;
  }
  
  .main-content p {
    font-size: 1.2em;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .google-signin {
    padding: 10px 20px;
    background-color: #2854ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .google-signin:hover {
    background-color: #003ecb;
  }
  
  .features {
    font-size: 1.2em;
    color: #555555;
    margin-top: 20px;
  }
  
  .features span {
    margin: 0 10px;
  }
  
  .footer {
    width: 100vw;
    padding: 10px;
    /* background-color: #f0f8ff; */
    font-size: 0.9em;
    color: #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer .links a {
    margin: 0 20px;
    color: #2854ff;
    text-decoration: none;
  }
  
  .footer .links a:hover {
    text-decoration: underline;
  }
  